.property-details {
  margin-right: 2em;
}

.property-detail-icon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.property-details-count {
  font-size: 1.5em;
}

.property-list-wrapper {
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.property-map iframe {
  border: none;
  width: 100%;
  height: 500px;
}
